<mat-card>
  <form (ngSubmit)="onSave()" #contactForm="ngForm">
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxLayout="column">
        <mat-form-field floatPlaceholder="auto">
          <input matInput [(ngModel)]="contact.firstName"
                 name="firstName" #firstName="ngModel"
                 type="text"
                 required
                 placeholder="First name">
          <mat-error *ngIf="firstName.invalid">
            Please enter a valid name
          </mat-error>
        </mat-form-field>
        <mat-form-field floatPlaceholder="auto">
          <input matInput [(ngModel)]="contact.lastName"
                 name="lastName" #lastName="ngModel"
                 type="text"
                 required
                 placeholder="Last name">
          <mat-error *ngIf="lastName.invalid">
            Please enter a valid name
          </mat-error>
        </mat-form-field>
        <mat-form-field floatPlaceholder="auto">
          <input matInput [(ngModel)]="contact.gsm"
                 name="gsm" #gsm="ngModel"
                 type="tel"
                 required maxlength="18"
                 placeholder="phone">
          <mat-error *ngIf="gsm.invalid">
            Please enter a valid number
          </mat-error>
        </mat-form-field>
        <mat-form-field floatPlaceholder="auto">
          <input matInput [(ngModel)]="contact.email"
                 name="email" #email="ngModel"
                 type="email"
                 pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                 required
                 placeholder="email">
          <mat-error *ngIf="email.invalid && email.errors.pattern" class="invalid-feedback">
            Email must be a valid email address
          </mat-error>
          <mat-error *ngIf="email.invalid && email.errors.required" class="invalid-feedback">
            Please enter a valid email
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
<button mat-fab [disabled]="!contactForm.form.valid" (click)="onSave()" class="app-fab">
  <mat-icon>check</mat-icon>
</button>
