<div class="app-contact-list">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px">
    <app-contact-list-item *ngFor="let contactItem of contacts | paginate: {itemsPerPage: 4, currentPage: p}"
                           [contact]="contactItem"
                           (contactSelect)="onContactSelect(contactItem)">
    </app-contact-list-item>
  </div>
  <div style="margin-bottom: 15%;">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
  <button mat-fab class="app-fab" (click)="onContactCreate()">
    <mat-icon>add</mat-icon>
  </button>
</div>
