<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav [mode]="push" [opened]="false" class="app-sidenav">
    <!-- Sidenav content-->
    <div class="app-sidenav-header">
      <mat-icon class="app-sidenav-avatar" color="primary">account_circle</mat-icon>
      <div>
        <span>Saimaan ammattikorkeakoulu</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item>
        <a href="https://github.com/ekoodi-dev-sua/KLI1317-contacts-app">In GitHub</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <!-- App content-->
    <app-toolbar (menuClick)="sidenav.toggle()"></app-toolbar>
    <app-contact-list></app-contact-list>
  </mat-sidenav-content>
</mat-sidenav-container>
