.app-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-sidenav {
  width: 200px;
}

.app-sidenav-header {
  background: #f5f5f5;
  background: url(../../src/assets/images/canvas.png) right top;
  padding: 16px;
}

.app-sidenav-avatar {
  font-size: 80px;
  width: 80px;
  height: 80px;
}

.app-sidenav-content{
  overflow: hidden;
}
